@use "../restaurants/restaurants.scss";

.restaurant-details-page {
    .main-layout {
        /* Принудительно растягиваем на всю оставшуюся высоту */
        display: grid;
        flex: 1; 
        min-height: 0;
        align-items: stretch;
    }

    .header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: relative;
    }
    .logo-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .side-column {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .card_fixed {
        flex: 1;
        min-height: auto;
    }

    .center-column {
        height: 100%;
        /* Чтобы карточки блюд не "сплющивались", если их мало */
        display: flex;
        flex-direction: column;
    }

    .res-grid {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    
    .header__back-btn {
        height: 36px;
        background: none;
        padding: 10px 16px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: background-color 0.2s;

        &:hover {
            background-color: rgb(210, 209, 209);
        }

        &:active {
            background-color: rgb(159, 159, 159);
        }
    }

    .back-btn__text {
        color: #000000;
        font-weight: 500;
    }

    .back-btn__icon {
        width: 18px;
        height: 18px;
        flex: 0 0 18px;
    }
}
